<header class="header">
  <h1><a href="/">Medium</a></h1>

  <nav>
    <div>
      <a href="/">Home</a>
    </div>
    <div>
      <a href="/blogs">Blogs</a>
    </div>
    <div>
      <button>
        <a href="/blog/new">Create Blog</a>
      </button>
    </div>
  </nav>
</header>
