<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <style>
      body {
        background-image: url('/images/beams.jpg');
        background-position: center center;
      }
    </style>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header'); %>
    <main class="main">
      <h1>Discover & Write Well-Curated Articles</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus,
        molestiae. Lorem ipsum dolor sit amet.
      </p>
      <button><a href="/blogs">Read Articles</a></button>
    </main>
  </body>
</html>
